@model AuthUser
@using System.Security.Claims
@{
    ViewData["Title"] = "Mi Perfil";
    // Verificamos si el usuario es Administrador
    bool esAdmin = User.FindFirstValue(ClaimTypes.Role) == "Administrador";
}

<h2 class="text-center mb-4 mt-3">@ViewData["Title"]</h2>

<div class="card mt-3 shadow-sm mx-auto" style="max-width: 500px;">
    <div class="card-body p-4">
        
        <div class="mb-4 border-bottom pb-3">
            <label asp-for="Email" class="form-label fw-bold text-muted mb-0"></label>
            <div class="form-text text-body fs-6 mt-1">@Model.Email</div>
        </div>
        
        <div class="mb-5">
            <label asp-for="Nombre" class="form-label fw-bold text-muted mb-0"></label>
            <div class="form-text text-body fs-6 mt-1">@Model.Nombre</div>
        </div>
        
        @if (esAdmin)
        {
            <div class="d-grid gap-2">
                <a asp-controller="Pedidos" asp-action="Index" class="btn btn-primary btn-lg">
                    Ver mis pedidos
                </a>
            </div>
        }

    </div>
</div>